## Compressed Image Quality Test

[SN] | [Params] | [Result Image]
--- | --- | ---
[transition_explode] | [transition_slide] | <p align="center">
  <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="350" title="hover text">
</p>

