## Compressed Image Quality Test

| SN | Params | Canon EOS 5d | PSG test 300dp | Canon R5 Building |
| --- | --- | --- | --- | --- |
| 1 | <b>Original Images </b>| <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="350" title="hover text"> <br/> 3.6 mb
| <img src="/Image-Quality-Test/assets/psgtest300.png" width="350" title="hover text"> <br/> 1.9 mb |
 <img src="/Image-Quality-Test/assets/canon-r5-buidling.jpg" width="350" title="hover text"> <br/> 15.3 mb |


| 2 | <b>MAX_IMAGE_SIZE = 800 <br/> compress(CompressFormat.JPEG, 100, outputStream) </b>|
 <img src="/Image-Quality-Test/assets/800-100-canon.jpg" width="350" title="hover text"> <br/> 285 kb |
  <img src="/Image-Quality-Test/assets/800-100-psg300dp.jpg" width="350" title="hover text"> <br/> 183 kb |
   <img src="/Image-Quality-Test/assets/800-100-canonr5.jpg" width="350" title="hover text"> <br/> 354 kb |


| 3 | <b>MAX_IMAGE_SIZE = 1280; <br/> compress(CompressFormat.JPEG, 80, outputStream) </b>|
 <img src="/Image-Quality-Test/assets/1280-80-canon.jpg" width="350" title="hover text"> <br/> 149 kb |
  <img src="/Image-Quality-Test/assets/1280-80-psg300dp.jpg" width="350" title="hover text"> <br/> 224 kb |
   <img src="/Image-Quality-Test/assets/1280-80-canonr5.jpg" width="350" title="hover text"> <br/> 216 kb |


