## Compressed Image Quality Test

| SN | Params | Canon EOS 5d | PSG test 300dp | Canon R5 Building |
| --- | --- | --- | --- | --- |
| 1 | <b>Original Images </b>| <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="350" title="hover text"> <br/> 3.6 mb | <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="350" title="hover text"> | <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="350" title="hover text"> |
| 2 | <b>MAX_IMAGE_SIZE = 800 <br/> compress(Bitmap.CompressFormat.JPEG, 100, outputStream) </b>| <img src="/Image-Quality-Test/assets/800-100-canon.jpg" width="350" title="hover text"> <br/> 285 kb | <img src="/Image-Quality-Test/assets/800-100-canon.jpg" width="350" title="hover text"> | <img src="/Image-Quality-Test/assets/800-100-canon.jpg" width="350" title="hover text"> |
| 3 | <b>MAX_IMAGE_SIZE = 1280; <br/> compress(Bitmap.CompressFormat.JPEG, 80, outputStream) </b>| <img src="/Image-Quality-Test/assets/1280-80-canon.jpg" width="350" title="hover text"> <br/> 149 kb | <img src="/Image-Quality-Test/assets/1280-80-canon.jpg" width="350" title="hover text"> | <img src="/Image-Quality-Test/assets/1280-80-canon.jpg" width="350" title="hover text"> |


