## Compressed Image Quality Test

| SN | Original | MAX_IMAGE_SIZE = 800 <br/> CompressFormat = JPEG <br/> CompressQuality = 100 | MAX_IMAGE_SIZE = 1280; <br/> CompressFormat = JPEG <br/> CompressQuality = 80 |
| --- | --- | --- | --- |
| 1 | <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="350" title="Canon EOS 5d"> <br/> 3.6 mb | <img src="/Image-Quality-Test/assets/800-100-canon.jpg" width="350" title="hover text"> <br/> 285 kb | <img src="/Image-Quality-Test/assets/1280-80-canon.jpg" width="350" title="hover text"> <br/> 149 kb |
| 2 | <img src="/Image-Quality-Test/assets/psgtest300.png" width="350" title="PSG test 300dp"> <br/> 1.9 mb | <img src="/Image-Quality-Test/assets/800-100-psg300dp.jpg" width="350" title="hover text"> <br/> 183 kb | <img src="/Image-Quality-Test/assets/1280-80-psg300dp.jpg" width="350" title="hover text"> <br/> 224 kb |
| 3 | <img src="/Image-Quality-Test/assets/canon-r5-buidling.jpg" width="350" title="Canon R5 Building"> <br/> 15.3 mb | <img src="/Image-Quality-Test/assets/800-100-canonr5.jpg" width="350" title="hover text"> <br/> 354 kb | <img src="/Image-Quality-Test/assets/1280-80-canonr5.jpg" width="350" title="hover text"> <br/> 216 kb |


