## Compressed Image Quality Test

| SN | Params | Result Image |
| --- | --- | --- |
| 1 | Original <br/> Size = 10mb | <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="450" title="hover text"> |
| 2 | `MAX_IMAGE_SIZE = 800 compress(Bitmap.CompressFormat.JPEG, 100, outputStream)`<br/> Size = 400kb| <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="450" title="hover text"> |
| 3 | `MAX_IMAGE_SIZE = 1280 compress(Bitmap.CompressFormat.JPEG, 80, outputStream)`<br/> Size = 400kb| <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="450" title="hover text"> |


