## Compressed Image Quality Test

| SN | Params | Result Image |
| --- | --- | --- |
| 1 | Original <br/> Size = 3.6mb | <img src="/Image-Quality-Test/assets/canon_eos5d.jpeg" width="450" title="hover text"> |
| 2 | MAX_IMAGE_SIZE = 800 <br/> compress(Bitmap.CompressFormat.JPEG, 100, outputStream) <br/> Size = 285kb| <img src="/Image-Quality-Test/assets/800-100-canon.jpg" width="450" title="hover text"> |
| 3 | MAX_IMAGE_SIZE = 1280; <br/> compress(Bitmap.CompressFormat.JPEG, 80, outputStream) <br/> Size = 149kb| <img src="/Image-Quality-Test/assets/1280-80-canon.jpg" width="450" title="hover text"> |


