## Compressed image quality test report

<p align="center">
  <img src="/assets/canon_eos5d.jpeg" width="350" title="hover text">
</p>